:root{
    dark: #0e2a47;
    yellow:#f4b400;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/*
start head section 
*/
/* logo section*/
.logotext{
    font-size: 20px;
    font-weight: 600;
    color: #0e2a47;
}
.head{
    display: flex;
      justify-content: space-between;
}
/* start nav bar section*/
.navbar{
    background-color: #0e2a47 !important;
    
}
.navbar ul li a{
    color: aliceblue !important;
}
.active{
    color: #f4b400 !important;
}
.btn-head{
    width: fit-content;
    background-color: #f4b400;
    border: none;
}
.btn-head:hover{
    border: 2px solid rgb(244, 180, 0 ,0.2);
    color: #01070c !important;
}
@media (max-width: 990px) {
    .head{
        width: fit-content;
    }
    .logotext{
        font-size: 30px;
        font-weight: 600;
        color: #0e2a47;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .head{
        font-size: 25px;
    }
    .btn-head{
        background-color: #f4b400;
        border: none;
        font-size: 35px;
    }
    .navbar{
      justify-content: space-around;
      font-size: 40px;
    }
    .navbar-toggler{
        background-color: #f8f9fa;
        align-items: center;
    }
    .active{
        font-size: 40px;
    }
    .navbar ul li a{
       font-size: 40px;
    }
  }
  
/*END OF NAV BAR */
/*/* START HERO SECTION/
*/

.hero{
    height: 100vh; 
    width: 100wv;
   background-image:url('.././img/welcome-banner.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hero *{
    z-index: 100;
}

.layout {
    background-color: rgb(0, 0, 0, 0.6);
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
.contant-hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 80% !important;
    padding: 40px;
    padding-top: 10%;
    width: 100vw;
    
    
}

.hero .text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero .text p{
    color: #f8f9fa;
}
.hero .form{
    height: fit-content;
    border-radius: 10px;
}
.hero .form h2{
    color: #0e2a47;
}
@media (max-width: 990px) {
    .hero{
        height: fit-content; 
       background-image:url('./../img/welcome-banner.jpg') ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    
    }
    .contant-hero{
        display:flex;
        flex-direction: column;
        font-size: 35px;
        text-align: center;
        height: 100% !important;
        padding: 40px;
        
    }
    .hero .text{
    padding-bottom: 6px;
    }
    .hero .form{
        font-size: 40px;
    }
  }
  

/*start about section */
.about{
    margin-top: 25px;
}
.about .img{
    width: 400px;
    height: 400px;
}
.about .img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-bottom: #f4b400 solid 10px;
    border-right: #f4b400 solid 14px;
}
.contant-about{
    display: flex;
    justify-content: space-around;
}
.about .contant-about h3{
    font-size: 45px;
    color:#0e2a47;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
.about .contant-about p{
    color: #0e2a47;
}
@media (max-width: 990px) {
    
    .about{
        display:inline-block;
        font-size: 40px;
        text-align: center;
        height: 100% !important;
        padding: 40px;
       
    }
    .about .img{
        width: 100%;
        height: 400%;
    }
    .about .img img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border-bottom: #f4b400 solid 10px;
        border-right: #f4b400 solid 14px;
    }
    .contant-about{
       display: inline;
       width: fit-content;
    }
    .about .text{
        width: fit-content;
    }
    .about .contant-about h3{
        font-size: 45px;
        color:#0e2a47;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 5px;
    }
  }
/*START LOGOS SECTION*/
.logos{
   text-align: center;
   justify-content: space-around;
   padding-top: 20px;
   width: fit-content;
}
.logos i{
    font-size: 60px;
    
}
.logos span{
    color: #f4b400;
    font-size: 18px;
}
.logos p{
  
    
    color: #0e2a47;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 990px) {
    .logos{
       display: flex;
       
        padding-top: 20px;
        width: fit-content;
        text-align: center;
        align-items: center;
     }
     .logos i{
         font-size: 80px;
         
     }
     .logos span{
         color: #f4b400;
         font-size: 25px;
     }
     .logos p{
       
         
         color: #0e2a47;
         font-size: 30px;
         font-weight: 500;
     }
  }
  
/*start service section*/
.service{
    align-items: center;
    height: fit-content;
    margin-top: 45px;
}
.service .img{
    width: 50%;
    height: 100%;
}
.service .img img {
    width: 100%;
    height: 100%;
    
}
.service .text-service{
    padding: 5px;
   
    text-align: center;
    width: 50%;
    background-color: #0e2a47;
    text-align:justify;
}
.service .text-service .hie{
 height: 30%;  
}
@media (max-width: 990px) {
    .service{
        align-items: center;
          height: fit-content;
        margin-top: 45px;
        width: fit-content;
       
    }
    .responsive{
        height: fit-content;
        display: inline;
        flex-direction: column;
    }
    .service .img{
        width: 100%;
        height: 100%;
    }
    .service .img img {
        width: 100%;
        height: 100%;
        
    }
    .btn-warning{
        font-size: 40px;
    }
    .service .text-service{
        padding: 5px;
        font-size: 40px;
        text-align: center;
        width: 100%;
        background-color: #0e2a47;
        text-align:justify;
    }
    .service .text-service .hie{
     height: 10%;  
    }
  }
  


/*START OFFER SECTION*/

.offer .right-text h2{
    color: #0e2a47;
}
@media (max-width: 990px) {
    .offer{
        font-size: 40px;
        width: fit-content;
    }
  }
  


/*START SERVICE SECTION*/
.service-offer{

}
.service-offer .crad{
    justify-content: space-around;
}
.service-offer .crad-body{
   
   
}
.service-offer .crad .crad-body  i,h6,p{
color: #0e2a47;
}
.service-offer .crad .crad-body  h6{
    color: #0e2a47;
}
.service-offer .crad .crad-body  p{
    color: #0e2a47;
   
}
.service-offer .crad .crad-body:hover{
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
@media (max-width: 990px) {
    .service-offer {
        font-size: 40px;
        width: fit-content;

    }
    .service-offer .crad{
      width: 100vw !important;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .service-offer .crad-body{
        width: 100vw !important;
       
    }
    .service-offer .crad .crad-body  i,h6,p{
    color: #0e2a47;
    }
    .service-offer .crad .crad-body  h6{
        color: #0e2a47;
    }
    .service-offer .crad .crad-body  p{
        color: #0e2a47;
       
    }
    .service-offer .crad .crad-body:hover{
        border: 1px solid rgba(0, 0, 0, 0.1);
        
    }
   
  }
  
/*START CHOOSE SECTION*/
.choose {
    background-color: rgb(155, 196, 240 ,0.1);
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    
}
.choose .padding{
    height: 20%;
}
.choose .high{
    height: 100%;
    margin: auto;
    justify-content: space-around;
}
.choose .text{
    
    padding-right: 3px;
}
.choose h2{
    color: #0e2a47;
}
.choose p{
   
}
.choose .card  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #0e2a47;
    width: 100% !important;
    justify-content: space-around !important;
    margin-top: 5px;
}
.choose .card-body{
    width: 100% !important;
    margin-top: 5px !important;
}
.choose .img{
    padding-top: 10px;
    width: 95%;
    height: 90%;
    margin-left: 15px;
}
.choose .img img {
    width: 100%;
    height: 100%;
    border-bottom: #f4b400 solid 10px;
    border-right: #f4b400 solid 14px;
    
}
@media (max-width: 990px) {
    .choose {
        height: fit-content;
        width: 100%;
        font-size: 40px;
       display: inline;
        flex-direction: column;
        text-align: center;
    }
    .choose .padding{
        height: 20%;
    }
    .choose .high{
        height: 100%;
        margin: auto;
        display: inline;
        flex-direction: column;
    }
    .choose .text{
        height: 100%;
        width: fit-content;
    }
    .choose .row{
        margin: 0 !important;
        padding: 0 !important;
        grid-row: 0 !important;
        width: 100%;
        grid-column: 0 !important;
        
    }
    .choose .card{
        width: 100vw !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 45px;
    }
    .choose .card .card-body {
       width: 100vw !important;
       font-size: 50px;
       padding: 2px;
       border: #f4b400 2px solid;
    }
    
    .choose h2{
        color: #0e2a47;
        font-size: 40px;
    }
    
    .choose .img{
        padding-top: 10px;
        width: 100%;
        height: 70%;
    }
    .choose .img img {
        width: 100%;
        height: 100%;
        border-bottom: #f4b400 solid 10px;
        border-right: #f4b400 solid 14px;
        
    }
  }

  /*START CUSTMOR SECTION*/
  .custmor{
    background-image: url('./../img/welcome-banner.jpg');
    height: 50vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 
.custmor .high
{
   height: 30%; 
}
@media (max-width: 990px) {
    .custmor{
        font-size: 40px;
        width: fit-content;
    }
    .custmor .card{
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
    }
    .custmor .card-body{
        margin: 0 !important;
        padding: 0;
        width: 100vw;
        font-size: 45px;
    }
   
  }

/*Start testmainl section*/

.test {
   color: #0e2a47;
   text-align: center;
   align-items: center;
}
.test .card-body{
    box-shadow:10px 10px rgb(0, 0, 0,0.1) ;
}
.test .poeple{
    padding: 10px;
}
.test span i{
    font-size: 50px;
    color: rgba(40, 88, 141, 0.2);
}
.test .card{
    display: flex !important;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    
}
.test .card-body{
    width: 33% !important;
}
.test .card-img-top{
    width: 50px;
}

@media (max-width: 990px) {
    .test {
        color: #0e2a47;
        text-align: center;
        align-items: center;
        font-size: 40px;
        width: fit-content;
     }
     .test .card-body{
         box-shadow:10px 10px rgb(0, 0, 0,0.1) ;
     }
     .test .poeple{
         
     }
     .test span i{
         font-size: 50px;
         color: rgba(40, 88, 141, 0.2);
     }
     .test .card{
         display: flex !important;
         flex-direction: column;
         width: 100vw;
        
         padding: 0 !important;
         margin: 0 !important;
         justify-content: center !important;
         
     }
     .test .card-body{
         width: 100vw !important;
         text-align: center;
         font-size: 45px;
         justify-content: center !important;
     }
     .test h5{
        font-size: 30px;
     }
     .test .card-img-top{
         width: 100px;
     }
   
  }
/*########################################
START FOOTER SECTION
*/
/*****/
.footer{
    background-color: #0e2a47;
    height: 40vh;
}
.footer .text{
   
    height:50% ;
}
.footer .text h2{
    height: 30%;
    margin-top: 40px;
}
@media (max-width: 990px) {
    .footer h2 {
        font-size: 50px;
    }
    .footer p {
        font-size: 50px;
    }
}